.search-field{
    /*height: 1.9375rem;*/
    border: 1px #e7eaec solid;
}

.search-row{
    margin-bottom: 1.875rem;
}

header > a > i {
    color: #99cc00;
}

.btn-delete-comment{
    /*background-color: #e74c3c;
    border-color: #e74c3c;
    color: white;*/
}

.btn-delete-comment:hover{
    /*background-color: #d45648;
    border-color: #f13924;
    color: white;*/
}

.btn-hidden-comment{
    /*background-color: #2980b9;
    border-color: white;
    color: white;*/
}

.btn-hidden-comment:hover{
    /*background-color: #2d8ac9;
    border-color:white;
    color: white;*/
}

.row-comments{
    /*border-bottom: 1px solid #eee;*/
    padding-bottom: 0.3125rem;
    padding-top: 0.3125rem;
}

.page_title{
    /*font-size: 0.875rem;
    font-weight: bold;
    padding: 0rem 0rem 0rem 1.25rem;
    margin: 0rem;*/
}