.search-field {
  /*height: 1.9375rem;*/
  border: 1px #e7eaec solid;
}

.search-row {
  margin-bottom: 1.875rem;
}

/*.btn-view{
    background-color: #e5e5ee;
    color: #676a6c;
    border: 1px #eee solid;
}

.btn-view:hover{
    background-color: #f3f3f4;
    color: #676a6c;
    border: 1px #eee solid;
}*/

/* .article-row{
    border-bottom: 1px solid #eee;
    padding-top: 0.625rem;
    padding-bottom: 0.3125rem;
}

.article-row:hover{
    background-color: rgb(245, 241, 241);
    cursor: pointer;
}

.article-row p{
    font-size: 1rem;
    margin-bottom: 0rem;
    font-weight: 400;
}

.article-title small{
    color: #bbb;
} */

/*padding để tránh bị đụng khi thu nhỏ màn hình*/
/* @media(max-width:991px){
    .article-title{
        padding-left: 30px;
        
    }
} */

.table .show-info-image {
  width: 7.5rem;
  height: 7.5rem;
}

.wordWrap {
  white-space: normal;
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  -webkit-word-break: break-word;
  -webkit-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.table .info-title {
  width: 10rem;
}

.table .info-short-content {
  width: 15rem;
}
