@media only screen and (max-width: 2000px) {
  html {
    font-size: 16px !important;
  }

  .dashboard-con .report-content-con {
    display: block;
  }
  
  .dashboard-con .report-content-con-small {
    display: none;
  }
}

/* Từ lg nhảy sang xl */
@media only screen and (max-width: 1199px) {
  html {
    font-size: 15px !important;
  }

  .dashboard-con .report-content-con {
    display: block;
  }
  
  .dashboard-con .report-content-con-small {
    display: none;
  }
}

/* Từ md nhảy sang lg */
@media only screen and (max-width: 991px) {
  html {
    font-size: 15px !important;
  }

  .dashboard-con .report-content-con {
    display: block;
  }
  
  .dashboard-con .report-content-con-small {
    display: none;
  }
}

/* Từ sm nhảy sang md */
@media only screen and (max-width: 767px) {
  html {
    font-size: 14px !important;
  }

  .dashboard-con .report-content-con {
    display: block;
  }
  
  .dashboard-con .report-content-con-small {
    display: none;
  }
}

/* Từ xm nhảy sang sm */
@media only screen and (max-width: 575px) {
  html {
    font-size: 14px !important;
  }

  .dashboard-con .report-content-con {
    display: none;
  }
  
  .dashboard-con .report-content-con-small {
    display: flex;
  }
}
