/* component image show */

.product-detail-intro .component-image-show .image-product-small {
	cursor: pointer;
	border: 1px solid #dee2e6;
	width: calc(20% - 0.375rem);
	transition: 200ms;
}

.product-detail-intro .component-image-show .image-product-small:hover {
	border: solid 1px #99cc00;
}

.product-detail-intro .product-detail-intro-right {
	padding-top: 0;
	padding-left: 2rem;
}

.product-detail-intro .product-detail-intro-right .star-rate {
	font-size: 1.4rem; 
	color: #6D6B6A;
}

.product-detail-intro .product-detail-intro-right .star-rate .checked {
	color: orange;
}

.product-detail-intro .product-detail-intro-right ul {
	list-style: none;
	padding: 0;
}

.product-detail-intro .product-detail-intro-right ul li {
	padding-left: 2rem;
}

.product-detail-intro .product-detail-intro-right ul li:before {
	content: "\f00c"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -2rem; /* same as padding-left set on li */
	width: 2em; /* same as padding-left set on li */
	color: #99cc00;
}

.product-detail-intro .product-detail-intro-right .product-quantity > input,
.product-detail-intro .product-detail-intro-right .product-quantity > button {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	border-radius: 50%;
	font-size: 1rem;
	text-decoration: none;
	outline: none;
	border: 1px solid #99cc00;
	background-color: #fff;
}

.product-detail-intro .product-detail-intro-right .add-to-cart {
	text-align: left;
}

.product-detail-intro .product-detail-intro-right .add-to-cart > div {
	justify-content: flex-start;
}

.product-detail-intro .product-detail-intro-right .add-to-cart > button {
	width: auto;
}

.product-detail-intro input[type="number"]::-webkit-inner-spin-button,
.product-detail-intro input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* component image show */