/*.modal-backdrop {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
}*/

.component-login-register-modal .modal-body {
	background-color: #F4F4F4; 
	height: 37.5rem;
}

.component-login-register-modal .modal-body .btn-close {
	outline: none;
	background-color: transparent; 
	top: .2rem; 
	right: .2rem;
}

.component-login-register-modal .modal-body .content-left {
	width: 22.5rem;
	background-color:rgb(194, 228, 139);
}

.component-login-register-modal .modal-body .content-left div {
	height: 9rem;
}

.component-login-register-modal .modal-body .content-left img {
	width: 100%;
}

.component-login-register-modal .modal-body .content-right {
	width: calc(100% - 26.25rem); 
	height: calc(100% - 1rem); 
	margin: 1rem; 
	overflow: hidden; 
	background-color: #FFF;
}

.component-login-register-modal .modal-body .content-right .nav-item {
	cursor: pointer;
}

.component-login-register-modal .modal-body .content-right .nav-tabs .nav-item.show .nav-link, 
.component-login-register-modal .modal-body .content-right .nav-tabs .nav-link.active {
	color: #99cc00;
	border-bottom: 0.1875rem solid #99cc00;
}

.component-login-register-modal .modal-body .content-right .nav-tabs .nav-link {
	border: none;
	border-bottom: 0.0625rem solid #dee2e6;
	transition: 200ms;
}

.component-login-register-modal .modal-body .content-right .nav-tabs .nav-link:hover {
	border-bottom: 0.1875rem solid #99cc00;
	color: #99cc00;
}

.component-login-register-modal .modal-body .content-right .tab-content .tab-pane form {
	font-size: 1rem;
}


