<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<div class="component-show-rate d-flex rounded-lg">
		<div class="content-left col-sm-3 p-3 d-flex flex-column justify-content-center align-items-center">
			<p>Đánh giá trung bình</p>
			<div class="avg-rate font-weight-bold">
				<span>4.5</span>
				<span>/5</span>
			</div>
			<div class="star-rate">
				<i class="fa fa-star checked"></i>
				<i class="fa fa-star checked"></i>
				<i class="fa fa-star checked"></i>
				<i class="fa fa-star checked"></i>
				<i class="fa fa-star-half-alt checked"></i>
			</div>
			<p class="review m-0">(<span>85</span> nhận xét)</p>
		</div>
		<div class="content-center col-sm-6 p-3 d-flex flex-column justify-content-center align-items-center">
			<div class="star-percent d-flex align-items-center">
				<div class="mr-2">5 <i class="fas fa-star"></i></div>
				<div class="progress mr-2">
					<div class="progress-bar-1 progress-bar bg-success" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="percent">76%</div>
			</div>
			<div class="star-percent d-flex align-items-center">
				<div class="mr-2">4 <i class="fas fa-star"></i></div>
				<div class="progress mr-2">
					<div class="progress-bar-2 progress-bar bg-success" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="percent">6%</div>
			</div>
			<div class="star-percent d-flex align-items-center">
				<div class="mr-2">3 <i class="fas fa-star"></i></div>
				<div class="progress mr-2">
					<div class="progress-bar-3 progress-bar bg-success" role="progressbar" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="percent">9%</div>
			</div>
			<div class="star-percent d-flex align-items-center">
				<div class="mr-2">2 <i class="fas fa-star"></i></div>
				<div class="progress mr-2">
					<div class="progress-bar-4 progress-bar" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="percent">7%</div>
			</div>
			<div class="star-percent d-flex align-items-center">
				<div class="mr-2">1 <i class="fas fa-star"></i></div>
				<div class="progress mr-2">
					<div class="progress-bar-5 progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="percent">2%</div>
			</div>
		</div>
		<div class="content-right col-sm-3 p-3 d-flex flex-column justify-content-center align-items-center">
			<p class="mb-2">Chia sẻ nhận xét về sản phẩm</p>
			<button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Viết nhận xét của bạn</button>
		</div>
	</div>
	<div class="collapse-show-rate collapse" id="collapseExample">
		<div class="comment position-relative p-3 rounded-lg">
			<h6 class="text-uppercase">gửi nhận xét của bạn</h6>
			<div class="d-flex align-items-center">
				<p class="m-0 mr-2">1. Đánh giá của bạn về sản phẩm này:</p>
				<div class="rate">
					<input type="radio" id="star1" name="rate" value="1" />
					<label for="star1" title="text"></label>
					<input type="radio" id="star2" name="rate" value="2" />
					<label for="star2" title="text"></label>
					<input type="radio" id="star3" name="rate" value="3" />
					<label for="star3" title="text"></label>
					<input type="radio" id="star4" name="rate" value="4" />
					<label for="star4" title="text"></label>
					<input type="radio" id="star5" name="rate" value="5" />
					<label for="star5" title="text"></label>			
				</div>
			</div>
			<form class="mb-5">
				<div class="form-group">
					<label for="txtTitle">2. Tiêu đề của nhận xét:</label>
					<input type="text" class="form-control form-control-sm" placeholder="Nhập tiêu đề nhận xét (không bắt buộc)" id="txtTitle">
				</div>
				<div class="form-group">
					<label for="txtReview">3. Viết nhận xét của bạn vào bên dưới:</label>
					<textarea class="form-control" id="txtReview" rows="3" placeholder="Nhận xét của bạn về sản phẩm này"></textarea>
				</div>
			</form>
			<button type="button" class="btn btn-warning position-absolute">Gửi nhận xét</button>
		</div>
	</div>
</div>
</body>
</html>


