{{#section 'css'}}
<title>Thêm thông tin hữu ích</title>
{{!--css input file--}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />
{{!--css input file--}}

{{!-- info add page --}}
<link href="/admin/css/info-add.css" rel="stylesheet" />
{{!-- info add page --}}

{{!-- responsive --}}
<link href="/admin/css/responsive-info-add.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<div id="content" class="mb-5">
    <header>
        <h5 class="page_title mb-0">Thêm bài viết mới</h5>
    </header>
    <div class="content-inner">
        <div class="form-wrapper">
            <form method="POST" enctype="multipart/form-data" id="frmInfoAdd">
                <div class="card">

                    <div class="card-header">
                        <label class="mb-0"><b>Hình ảnh đại diện bài viết</b></label>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div>
                                <input id="info-image" name="INFO_IMAGE" type="file">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card mt-3 mb-3">

                    <div class="card-header">
                        <label class="mb-0"><b>Thông tin bài viết</b></label>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label><b>Tiêu đề</b></label>
                            <input type="text" class="form-control" name="TITLE" placeholder="Nhập tiêu đề bài viết" />
                        </div>

                        <div class="form-group">
                            <label class="mr-1 mb-1"><b>Tag</b></label>
                            <button type="button" class="btn btn-sm btn-success rounded-circle btn-add-tag position-relative" data-toggle="modal"
                                data-target="#addTagModal">
                                <i class="fas fa-plus fa-sm position-absolute"></i>
                            </button>
                            <select class="form-control chosen-select" id="selectTag" name="TAG" data-placeholder="Chọn tag" multiple>
                                {{#each this.tags}}
                                <option value="{{ID}}">{{NAME}}</option>
                                {{/each}}
                            </select>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="addTagModal" tabindex="-1" role="dialog"
                                aria-labelledby="addTagLabelModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addTagLabelModal">Thêm tag</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="inputAddNewTag" id="lblAddNewTag"><b>Tên tag</b></label>
                                                <input type="text" class="form-control" id="inputAddNewTag"
                                                    placeholder="Nhập tên tag" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success btn-add-new-tag">Thêm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label><b>Nội dung tóm tắt</b></label>
                            <div>
                                <textarea name="SHORTCONTENT" cols="60" rows="5" class="form-control"
                                    placeholder="Nhập nội dung tóm tắt bài viết"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label><b>Nội dung chi tiết</b></label>
                            <div>
                                <textarea class="form-control" name="CONTENT" id="my_editor"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

                {{!-- <div class="custom-control custom-control-inline custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="inlineCheckbox3" value="option3" />
                    <label class="custom-control-label" for="inlineCheckbox3">Đăng khi bấm chọn</label>
                </div> --}}

                <div class="d-flex justify-content-center">
                    <button type="submit" id="submit" class="pl-5 pr-5 btn btn-success float-right">
                        Đăng
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
<script src="/admin/chosen_v1.8.7/chosen.jquery.min.js"></script>
<script src="/admin/js/chosen-select.js"></script>
{{!--Xu ly Editor --}}
<script
    src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=nxw3p5ckcu5jx187f8q2w3ysytehc7mdor1gcic8zu1iq5pv"></script>
<script src="/admin/js/tinymce-Editor.js"></script>
{{!--Xu ly Editor --}}

{{!--input file --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
{{!--input file --}}

{{!--Xử lý thêm ảnh bằng file input--}}
<script src="/admin/js/info-add-file-input.js"></script>
<script src="/admin/js/validate-UI-info-add.js"></script>

<script src="/admin/js/info-add-view.js"></script>
{{/section}}