<div id="content" class="mb-5">
    <header>
        <h5 class="page_title mb-0">Tạo bài viết mới</h5>
    </header>
    <div class="content-inner">
        <div class="form-wrapper">
            <form>
                <div class="form-group">
                    <label class="sr-only">Tiêu đề</label>
                    <input type="text" class="form-control" id="title" placeholder="Nhập tiêu đề" />
                </div>

                <div class="form-group">
                    <label class="sr-only">Tag</label>
                    <select class="chosen-select" data-placeholder="Chọn tag" multiple>
                        <option>Cà chua</option>
                        <option>Trái cây</option>
                        <option>Rau tươi</option>
                        <option>Thịt</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="sr-only">Nội dung</label>
                    <textarea class="form-control" name="contain"> </textarea>
                </div>

                <div class="custom-control custom-control-inline custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="inlineCheckbox3" value="option3" />
                    <label class="custom-control-label" for="inlineCheckbox3">Đăng khi bấm chọn</label>
                </div>

                <div class="clearfix">
                    <button type="button" class="btn btn-success float-right">
                        Xác nhận
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>