{{#section 'css'}}
<title>Quản lí thông tin hữu ích</title>

{{!-- responsive --}}
<link href="/admin/css/responsive-info-show.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<div id="content" class="mb-5">
    
    <header class="d-flex align-items-center justify-content-between">
        <h5 class="page_title mb-0">Tất cả nội dung</h5>
        <button type="button" class="btn btn-primary btn-sm">Thêm nội dung mới</button>
    </header>

    <div class="content-inner">
        <!--Thanh tìm kiếm-->
        <div class="row search-row ml-0 mr-0">
            <div class="col-md-12 p-0">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control search-field" id="search" placeholder="Tên bài viết"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end thanh tìm kiếm-->

        <!--Hàng chứa nội dung tóm tắt của bài đăng-->
        <div class="row ml-0 mr-0 article-row">
            <div class="col-2 col-sm-1 col-md-1 p-0">
                <span class="badge badge-warning">Cam tươi</span>
            </div>

            <div class="col-10 col-sm-8 col-md-8 article-title">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laboriosam, aperiam</p>
                <small>Đăng vào ngày 12 tháng 4 năm 2019</small>
            </div>

            <div
                class="col-12 col-sm-3 col-md-3 pr-0 col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 p-0">
                <div class="article-actions text-right">
                    <a class="btn btn-primary btn-sm" href="#" role="button">
                        <!-- <span class="fas fa-folder-open">&nbsp;Xem</span> -->
                        Xem
                    </a>

                    <a class="btn btn-success btn-sm" href="#" role="button">
                        <!-- <span class="fas fa-edit">&nbsp;Sửa</span> -->
                        Sửa
                    </a>

                    <a class="btn btn-danger btn-sm" href="#" role="button">
                        <!-- <span class="fas fa-times">&nbsp;Xóa</span> -->
                        Xóa
                    </a>
                </div>
            </div>
        </div>
        <!--end Hàng chứa nội dung tóm tắt của bài đăng-->

        <!--Hàng chứa nội dung tóm tắt của bài đăng-->
        <div class="row ml-0 mr-0 article-row">
            <div class="col-2 col-sm-1 col-md-1 p-0">
                <span class="badge badge-warning">Cam tươi</span>
            </div>

            <div class="col-10 col-sm-8 col-md-8 article-title">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laboriosam, aperiam</p>
                <small>Đăng vào ngày 12 tháng 4 năm 2019</small>
            </div>

            <div
                class="col-12 col-sm-3 col-md-3 pr-0 col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 p-0">
                <div class="article-actions text-right">
                    <a class="btn btn-primary btn-sm" href="#" role="button">
                        <!-- <span class="fas fa-folder-open">&nbsp;Xem</span> -->
                        Xem
                    </a>

                    <a class="btn btn-success btn-sm" href="#" role="button">
                        <!-- <span class="fas fa-edit">&nbsp;Sửa</span> -->
                        Sửa
                    </a>

                    <a class="btn btn-danger btn-sm" href="#" role="button">
                        <!-- <span class="fas fa-times">&nbsp;Xóa</span> -->
                        Xóa
                    </a>
                </div>
            </div>
        </div>
        <!--end Hàng chứa nội dung tóm tắt của bài đăng-->

        <!--Hàng chứa nội dung tóm tắt của bài đăng-->
        <div class="row ml-0 mr-0 article-row">
            <div class="col-2 col-sm-1 col-md-1 p-0">
                <span class="badge badge-warning">Cam tươi</span>
            </div>

            <div class="col-10 col-sm-8 col-md-8 article-title">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laboriosam, aperiam</p>
                <small>Đăng vào ngày 12 tháng 4 năm 2019</small>
            </div>

            <div
                class="col-12 col-sm-3 col-md-3 pr-0 col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 p-0">
                <div class="article-actions text-right">
                    <a class="btn btn-primary btn-sm" href="#" role="button">
                        <!-- <span class="fas fa-folder-open">&nbsp;Xem</span> -->
                        Xem
                    </a>

                    <a class="btn btn-success btn-sm" href="#" role="button">
                        <!-- <span class="fas fa-edit">&nbsp;Sửa</span> -->
                        Sửa
                    </a>

                    <a class="btn btn-danger btn-sm" href="#" role="button">
                        <!-- <span class="fas fa-times">&nbsp;Xóa</span> -->
                        Xóa
                    </a>
                </div>
            </div>
        </div>
        <!--end Hàng chứa nội dung tóm tắt của bài đăng-->

        <hr>

        <!--Thanh điều hướng trang-->
        <div class="row justify-content-center">
            <!-- <div class="col-md-12"> -->
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- </div> -->
        </div>
        <!--end Thanh điều hướng trang-->

    </div>

</div>