<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>
	<div class="component3 card" style="width: 18rem; height: 26rem; font-family: 'Nunito', sans-serif; font-weight: bold; background-color: #f7f7f7; transition: 200ms; border: none;">		
		<div style="height: 18rem; width: 100%; background-image: url(https://bizweb.dktcdn.net/thumb/1024x1024/100/350/980/articles/49997669-476326726231228-9092403644171095934-n.jpg?v=1553650991913); background-repeat: no-repeat; background-size: cover; background-position: center; position: relative;" class="card-img-top" data-toggle="tooltip" title="Rau xanh tăng giá mạnh vì trời mưa, người dân nội thành lao đao">
			<a href="#" style="width: 100%; height: 100%; position: absolute; top:0; left:0; cursor: pointer;"></a>	
			<div class="p-2" style="font-size: 13px; width: 100%; color: #6D6B6A; display: flex; justify-content: center; position: absolute; top:89%; left:0; z-index: 0; background-color: rgba(250, 250, 250, .9);">
				<div class="mr-3">
					<i class="far fa-calendar"></i>
					&nbsp
					<span style="color: #99cc00">27/03/2019</span>
				</div>				
				<div>
					<span class="font-weight-normal">Đăng bởi: </span>
					<span style="color: #99cc00">Cool Team</span>
				</div>
			</div>	
		</div>
		

		<div class="card-body" style="text-align: center;">		
			<a href="#" class="title card-title m-0" style="text-decoration: none; font-size: 18px; font-weight: bold; transition: 200ms;">Rau xanh tăng giá mạnh vì trời mưa, người dân nội thành lao đao</a>
			<p class="mt-2 font-weight-normal" style="font-size: 15px; color: #6D6B6A">Khoảng gần một tuần nay, do ảnh hưởng của những cơn mưa kéo dài liên tiếp nên...</p>
		</div>
	</div>
</body>
</html>
