/* component info-small */
 
.component-info-small {
  height: 26rem;
  background-color: #f7f7f7;
  transition: 200ms;
  margin-bottom: 1.5rem;
}
 
.component-info-big {
  height: 20rem;
}
 
.component-info-small .card-img-top > img {
  object-fit: fill;
}
 
.component-info-small .card-img-top > a {
  top: 0;
  left: 0;
  cursor: pointer;
}
 
.component-info-small .card-img-top .info-info {
  font-size: 0.8rem;
  color: #6d6b6a;
  top: 83%;
  left: 0;
  z-index: 0;
  background-color: rgba(250, 250, 250, 0.9);
}
 
.component-info-big .card-img-top .info-info {
  top: 92%;
}
 
.component-info-small .card-img-top .info-info .posted {
  color: #99cc00;
}
 
.component-info-small .card-body > a {
  text-decoration: none;
  font-weight: bold;
  transition: 200ms;
  font-size: 0.9rem;
}
 
.component-info-small .card-body > p {
  color: #6d6b6a;
  font-size: 0.8rem;
}
 
.component-info-small .title {
  color: #000;
  font-size: 0.8rem;
}
 
.component-info-small .title:hover {
  color: #99cc00;
}
 
.component-info-small:hover {
  box-shadow: 4px 14px 15px rgba(0, 0, 0, 0.1);
}
/* component info-small */