/* component product-simple */

.component-product-simple {
  height: 22rem;
  background-color: #f7f7f7;
  font-weight: bold;
  border-color: #f4f4f4;
  transition: 200ms;
}

.component-product-simple .card-img-top {
  cursor: pointer;
}


.component-product-simple .card-img-top #sale-image {
  background-image: url('https://frontend.tikicdn.com/_new-next/static/img/icons/product/deal-tag.png');
  color: white;
  height: 1.8rem;
  width: 2.3rem;
  background-size: 100% 100%;
  font-size: 0.8rem;
}

.component-product-simple .card-img-top .overlay {
  transition: 200ms !important;
  position: absolute;
  top: 0;
  left: 0;
}

.component-product-simple .card-img-top .overlay > a {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 200ms;
  z-index: 1;
  text-decoration: none;
  opacity: 0;
  background-color: #f2f2f2;
}

.component-product-simple .overlay > a i {
  color: #000;
}

.component-product-simple:hover .overlay > a {
  opacity: 1;
}

.component-product-simple .overlay > a:hover {
  background-color: #99cc00;
}

.component-product-simple .overlay > a:hover i {
  color: #fff;
}

.component-product-simple:hover .overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

.component-product-simple:hover {
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.2);
}

.component-product-simple .card-body .title {
  color: #000;
  font-size: 0.9rem;
  text-decoration: none;
  transition: 200ms;
}

.component-product-simple .card-body .title:hover {
  color: #99cc00;
}

.component-product-simple .card-body .price-sale span {
  color: #99cc00;
  font-size: 0.8rem;
}

.component-product-simple .card-body .price-sale u {
  color: #99cc00;
  font-size: 0.8rem;
}

.component-product-simple .card-body .price-old del {
  color: #666;
  font-size: 0.8rem;
}
/* component product-simple */
