html,body{
    font-family: "open sans","Helvetica Neue",Arial, Helvetica, sans-serif;
    background-color: #f3f3f4;
    color: #676a6c;
    height: 100%;
}

#side-menu {
    background-color: #2f4050;
    padding: 0px;
}

#side-menu h1 {
    color: #1f3647;
    text-align: center;
    margin: 10px 0px;
    font-size: 25px;  
}

#side-menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#side-menu a{
    padding: 12px 20px;
    text-decoration: none;
    color: #9fb1c2;
    font-weight: bold;
    font-size: 13px;
    display: block;
}

#side-menu a:hover{
    background-color: #293846;
    color: #fff;
    display: block;
}

#side-menu a.active{
    color: #fff;
    background-color: #293846;
}

#side-menu .ads-button{
    background-color: #1ab394;
}

#side-menu .ads-button a{
    color: #fff;
}

#side-menu .ads-button a:hover{
    background-color: #1ab394;
}

#side-menu .collapse li{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#side-menu .collapse a{
    color: #9fb1c2;
    font-size: 12px;
    padding: 0px 10px;
    text-decoration: none;
    display: block;
}

#side-menu .collapse a:hover{
    color: #fff;
}

#side-menu .collapse{
    border-left: solid 4px #1ab394;
    background-color: #293846;
}



#side-menu 

#side-menu .fas{
    margin-right: 6px;
}

#nav-header{
    background-color: #fff;
    border-bottom: 1px solid #e7eaec;
    padding: 0;
}


#nav-header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #676a6c;
    float: right;
}

#nav-header ul li{
    float: left;
    margin-left: 15px;
    padding: 17px 5px;
}

#nav-header ul .fas{
    color: #676a6c;
}

#nav-header ul a{
    text-decoration: none;
}

.label-message{
    background-color: #1ab394;
}

#nav-header .logout:hover{
    color: red;
}

#nav-header #header-search-field{
    padding-top: 17px;
    vertical-align:center;
    border: none;
    width: 300px;
    outline: none;
}

#nav-header .fixed-width{
    width: 35px;
}

#nav-header ul .badge{
    position: absolute;
    margin-top: -10px;
    margin-left: -5px;
}

#admin-footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    color: #676a6c;
}

#content{
    margin: 20px;
    background: #fff;
    border-top: 4px #e7eaec solid;
}

#content header{
    border-bottom: 1px #f3f3f4 solid;
    padding: 10px;
}

.page_title{
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.content-inner{
    padding:20px; 
}

.form-wrapper{
    background-color: #eee;
    padding: 20px;
}

/*Thêm important để overight thuộc tính của chosen */
.chosen-container, .chosen-container-multi{
   width: 100% !important;
}

.search-field{
    height: 31px;
    border: 1px #e7eaec solid;
}

.search-row{
    margin-bottom: 30px;
}

.btn-search{
    background-color: #1ab394;
    border: 1px solid #1ab394;
    height: 31px;
}

.btn-search:hover{
    background-color: #1cc394;
    border: 1px solid #1cc394;
}

.btn-search:focus{
    background-color: #1cc394;
    border: 1px solid #1cc394;
}

.btn-view{
    background-color: #e5e5ee;
    color: #676a6c;
    border: 1px #eee solid;
}

.btn-view:hover{
    background-color: #f3f3f4;
    color: #676a6c;
    border: 1px #eee solid;
}

.article-row{
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 5px;
}

.article-row:hover{
    background-color: rgb(245, 241, 241);
    cursor: pointer;
}

.article-row p{
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 400;
}

.article-title small{
    color: #bbb;
}

.img-avatar{
    width: 50px;
    height: 50px;
}

.btn-delete-comment{
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: white;
}

.btn-delete-comment:hover{
    background-color: #d45648;
    border-color: #f13924;
    color: white;
}

.btn-hidden-comment{
    background-color: #2980b9;
    border-color: white;
    color: white;
}

.btn-hidden-comment:hover{
    background-color: #2d8ac9;
    border-color:white;
    color: white;
}

.row-comments{
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    padding-top: 5px;
}

.admin-content-con{
    margin-top: 20px;
    background-color: white; 
    border-top: solid 4px #e7eaec;
    padding: 15px;
}

.admin-content-con header{
    margin-bottom: 20px;
    border-bottom: 1px #eee solid;
    padding-bottom: 10px;
}

.admin-content-con h5{
    margin: 0px;
    padding-top: 3px;
    
}

.text-link{
    color: #676a6c;
}

.text-link:hover{
    color: #676a6c;
}

.comment-name-dash{
    font-weight: bold;
    font-size: 13px;
}

.comment-header-dash{
    margin-bottom: 6px;
}

.comment-dash{
    margin-bottom: 5px;
}

.comment-date-dash{
    color: #999;
}

#dashboard-con{
    padding-bottom: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

/*padding để tránh bị đụng khi thu nhỏ màn hình*/
@media(max-width:991px){
    .article-title{
        padding-left: 30px;
        
    }
}

table.Table-product{
    font-size: 14px;
    
}

div.testpadding{
    padding: 100px;
}

button.btn-modal{
    height: 10px;
}

table{
    font-size: 14px;
}




