body {
  color: #666;
  font-family: "Quicksand", sans-serif;
}

#span-show-cart {
  font-size: 2em; 
  color: #99cc00;
}

.text-success {
  color: #99cc00 !important;
}

.btn-success {
  color: white;
  background-color:#99cc00;
  border-color: white;
}

.btn-success:hover {
  background-color:rgb(194, 228, 139);
  border-color: white;
  color: #666;
}

.btn-outline-success {
  color: #99cc00 !important;
  border: 1px solid #99cc00 !important;
}

.btn-outline-success:hover {
  color: #fff !important;
  border: 1px solid #fff !important;
  background-color: #99cc00 !important;
}

.carousel-inner > .carousel-item > img {
  height: 30rem;
  margin: auto;
}

.item-image:hover {
  transform: scale(1.1);
}

footer {
  background-color: #f7f7f7;
  border: 1px solid #d8d8d8;
  padding-left: 3rem;
  font-size: 0.875rem;
}

footer .footerLink {
  color: black !important;
}

.item-image:hover {
  transform: scale(1.1);
}

.dropdown-toggle::after {
  display: none;
}

.pagination > .page-item > .page-link {
  color: #99cc00;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input-group-text:hover {
  color: #99cc00;
}

.sort-header {
  border: 1px solid #99cc00 !important;
}

.badge-success {
  background-color: #99cc00;
}

input:checked {
  background-color: #2196f3;
}
