body {
	height: 100vh; 
	background-image: url(https://live.staticflickr.com/3755/33382978692_a5638efc1e_k.jpg); 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}

.card {
	width: 45rem; 
	opacity: .9;
}

.card-body {
	height: 25rem;
}

.content-left {
	width: 360px; 
	background-color: rgb(194, 228, 139);
}

.content-left div {
	height: 8rem;
}

.content-left img {
	height: calc(100% - 8rem);
}

.content-right {
	width: calc(100% - 360px);
}

.content-right > div {
	text-align: center; 
	font-size: 3rem; 
	color: #99cc00;
}

.content-right form {
	font-size: .8rem;
}

.btn-success {
    color: white;
    background-color:#99cc00;
    border-color: white;
}

.btn-success:hover {
    background-color:rgb(194, 228, 139);
    border-color: white;
    color: #666;
}