<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<div class="component-get-email d-flex align-items-end p-3">
		<i class="fas fa-envelope-open-text mr-4"></i>
		<div class="mr-4">
			<h6 class="m-0">Đăng ký nhận bản tin</h6>
			<p class="m-0">Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn</p>
		</div>
		
		<form>
			<div class="form-group row align-items-center m-0">
				<div>
					<input type="text" class="form-control form-control-sm mr-2" placeholder="Địa chỉ email của bạn" id="txtEmail">
				</div>
				<button type="button" class="btn btn-primary btn-sm">Đăng ký</button>
			</div>
		</form>
		
	</div>
</body>
</html>


