html, body {
    color: #666;
    font-family: "Quicksand", sans-serif;
    background-color: #f3f3f4;
    height: 100%;
}

#side-menu {
    background-color: #2f4050;
    padding: 0rem;
}

#side-menu h1 {
    color:#fff;
    text-align: center;
    margin: 0.625rem 0rem;
    font-size: 1.5625rem;  
}

#side-menu ul{
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}

#side-menu a{
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    color: #9fb1c2;
    font-weight: bold;
    font-size: 0.8125rem;
    display: block;
}

#side-menu a:hover{
    background-color: #293846;
    color: #fff;
    display: block;
}

#side-menu a.active{
    color: #fff;
    background-color: #293846;
}

#side-menu .ads-button{
    background-color: #1ab394;
}

#side-menu .ads-button a{
    color: #fff;
}

#side-menu .ads-button a:hover{
    background-color: #1ab394;
}

#side-menu .collapse li{
    padding-left: 1.25rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.625rem;
}

#side-menu .collapse a{
    color: #9fb1c2;
    font-size: 0.75rem;
    padding: 0rem 0.625rem;
    text-decoration: none;
    display: block;
}

#side-menu .collapse a:hover{
    color: #fff;
}

#side-menu .collapse{
    border-left: solid 4px #1ab394;
    background-color: #293846;
}


#side-menu 

#side-menu .fas{
    margin-right: 0.375rem;
}

#nav-header{
    background-color: #fff;
    border-bottom: 1px solid #e7eaec;
    padding: 0;
}


#nav-header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #676a6c;
    float: right;
}

#nav-header ul li{
    float: left;
    margin-left: 0.9375rem;
    padding: 1.0625rem 0.3125rem;
}

#nav-header ul .fas{
    color: #676a6c;
}

#nav-header ul a{
    text-decoration: none;
}

.label-message{
    background-color: #1ab394;
}

#nav-header .logout:hover{
    color: red;
}

#nav-header #header-search-field{
    padding-top: 1.0625rem;
    vertical-align:center;
    border: none;
    width: 18.75rem;
    outline: none;
}

#nav-header .fixed-width{
    width: 2.1875rem;
}

#nav-header ul .badge{
    position: absolute;
    margin-top: -0.625rem;
    margin-left: -0.3125rem;
}

#admin-footer{
    position: absolute;
    width: 100%;
    bottom: 0rem;
    background-color: #fff;
    padding: 0.625rem;
    font-size: 0.75rem;
    color: #676a6c;
}

/*Thêm important để overight thuộc tính của chosen */
.chosen-container, .chosen-container-multi{
   width: 100% !important;
}

#dashboard-con{
    padding-bottom: 6.25rem;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}






