.search-field{
    /*height: 1.9375rem;*/
    border: 1px #e7eaec solid;
}

.search-row{
    margin-bottom: 1.875rem;
}

/*.btn-view{
    background-color: #e5e5ee;
    color: #676a6c;
    border: 1px #eee solid;
}

.btn-view:hover{
    background-color: #f3f3f4;
    color: #676a6c;
    border: 1px #eee solid;
}*/

.article-row{
    border-bottom: 1px solid #eee;
    padding-top: 0.625rem;
    padding-bottom: 0.3125rem;
}

.article-row:hover{
    background-color: rgb(245, 241, 241);
    cursor: pointer;
}

.article-row p{
    font-size: 1rem;
    margin-bottom: 0rem;
    font-weight: 400;
}

.article-title small{
    color: #bbb;
}

.page_title{
    /*font-size: 0.875rem;
    font-weight: bold;
    padding: 0rem 0rem 0rem 1.25rem;
    margin: 0rem;*/
}

/*padding để tránh bị đụng khi thu nhỏ màn hình*/
@media(max-width:991px){
    .article-title{
        padding-left: 30px;
        
    }
}