.admin-content-con{
  margin-top: 1.25rem;
  background-color: white; 
  border-top: solid 4px #e7eaec;
  padding: 0.9375rem;
}

/*.admin-content-con h6 {
  margin-bottom: 1.25rem;
  border-bottom: 1px #eee solid;
  padding-bottom: 0.625rem;
}*/

/*.admin-content-con h5{
  margin: 0rem;
  padding-top: 0.1875rem;

}*/

.text-link{
  color: #676a6c;
  font-size: 0.9rem;
}

.text-link:hover{
  color: #676a6c;
}

.comment-name-dash{
  font-weight: bold;
  font-size: 1rem;
}

.comment-header-dash{
  margin-bottom: 0.375rem;
}

.day-dash {
  font-size: 0.9rem;
}

.comment-dash{
  font-size: 0.9rem;
  margin-bottom: 0.3125rem;
}

/*.comment-date-dash{
  color: #999;
}*/

/*table{
  font-size: 0.875rem;
}*/