table{
    font-size: 0.875rem;
}

.btn-search{
    color: #fff;
    background-color: #1ab394;
    border-color: #1ab394;
}

.btn-search:hover{
    color: #fff;
    background-color: #1cc394;
    border-color: #1cc394;
}

.btn-search:focus{
    background-color: #1cc394;
    border-color: #1cc394;
}

.badge {
	font-size: 100%;
}

.table {
	max-height: 25rem;
}

.table th, td {
	white-space: nowrap;
}