@media only screen and (max-width: 2000px) {
    html {
      font-size: 16px !important;
    }
}

/* Từ lg nhảy sang xl */
@media only screen and (max-width: 1200px) {
    html {
      font-size: 15px !important;
    }
}

/* Từ md nhảy sang lg */
@media only screen and (max-width: 992px) {
    html {
      font-size: 15px !important;
    }
}

/* Từ sm nhảy sang md */
@media only screen and (max-width: 768px) {
    html {
      font-size: 14px !important;
    }
}

/* Từ xm nhảy sang sm */
@media only screen and (max-width: 576px) {
    html {
      font-size: 14px !important;
    }
}
